@import url('https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js');

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e48;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    height: 100%;
    width: 100%;
    font-family: url('../Lato/Lato-Black.ttf');
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo_name {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.menu_list a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.menu_list a:hover, .menu_list a.active {
    color: var(--main-color);
}

.modal-header h1 {
    font-size: 3rem;
    font-weight: 700;
    /* font-height: 1.3; */
}

.homepage img {
    background-color: var(--bg-color);
	width: 200px;
	height: 200px;
	padding: 10px;
    size: 40%;
}

.workline img {
    margin-bottom: 15px;
}

#content {
    padding-top: 10%;
    padding-bottom: 20%;
}

.homepage button {
    color: var(--text-color);
}

.btn {
    background-color: var(--main-color);
}

.btn-primary {
    background-color: #222;
    border: 1px solid #222;
}
.btn-primary:hover {
    background-color: #222;
    border: 1px solid #222;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.col-lg-6 img{
    border-radius: 15px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);

}

#quote-message {
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: right;
    padding-top: 8rem;
}

#quote-message a {
    text-decoration: none;
}

.fa-file-code-o {
    color: #563d7c;
}
.fa-code {
    color: #563d7c;
}
.fa-code {
    color: #563d7c;
}
.fa-file-code-o, .fa-code, .fa-code {
    font-size: 25em;
    margin: 1rem;
}
.fun {
    width: 100%;
    margin-bottom: 2rem;
}
.gif {
    max-width: 100%;
}

#contact-message {
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: right;
}

.address li{
    list-style: none;
}

.contact-details {
    font-size: 20px
}

.contact-details  i{
    font-size: 20px;
    padding-right: 1rem;
}

.social-link li{
    display: inline-block;
    padding-top: 4em;
}

.social-link i{
    font-size: 3em;
    padding: 1rem;
    color: #0f1011;
}

.col-lg-6 #condition {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    margin-top: 2rem;
    padding-top: 2rem;
}

/* PROJECT 1 CSS  */
.chatbot {
    padding: 2.5rem;
}

.review-icons {
    text-align: right;
    font-size: 1.5rem;
}

.review-icons i{
    padding: 0.5rem;
}

.chatbot img{
    width: 1100px;
	height: 700px;
}

.image-area {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.image-area p{
    text-indent: centre;
    font-size: x-small;
}

/* PROJECT 1 CSS END */


/* Pages Under Construction */
.construction {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}
.construction img {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/*---Media Queries ---*/
@media (max-width: 992px){
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width: 768px){
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 1rem;
    }
    
}
@media (max-width: 576px){

}

/*---Firefox Bug Fix ---*/
.carousel-item{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image ---*/

/* 
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 768px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 576px) { ... }

Large (lg) devices (desktop, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) devices (larde desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/