@import url('https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js');

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e48;
    --text-color: #ededed;
    --main-color: #00abf0;
}

* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: url('../Lato/Lato-Black.ttf');
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: yellowgreen;
}

.logo_name {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.menu_list a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.menu_list a:hover, .menu_list a.active {
    color: var(--main-color);
    text-decoration: none;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem;
}

/* Style Profile Image */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

span {
    color: var(--main-color);
}

.home-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.home-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.intro {
    text-align: center;
}

.intro h3{
    font-size: 2.3rem;
}

.intro p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Style Profile button */
.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

/* Modal styling begins */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--second-bg-color);
  }
  
  .modal-content p {
    font-size: 1.3rem;
    margin: 2rem 0 4rem;
    color: var(--second-bg-color);
}

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* Let's Talk button */
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 4rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
     color: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%; 
}

/* Social Media Icons */
.social-profile a {
    text-decoration: none;
    margin-top: 50px;
    margin-right: 1.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.social-profile a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.social-profile a:hover::before {
    width: 100%;
}
/* Modal styling ends */

/* Services */
.services-heading {
    display:inline;
    font-size: 35px;
}

hr {
    width: 100px;
    height: 1px;
    border:none;
    color:var(--text-color);
    background-color: var(--text-color);
}

center .section-subheading .text-muted {
    max-width: 500px;
    line-height: 27px;
}

.services .row i {
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 1.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 50px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
}

.services .row h4{
    font-size: 2.3rem;
}

.services .row:nth-child(2) p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* Portfolio design */
.portfolio {
    background: var(--second-bg-color);
}

.portfolio-heading {
    display:inline;
    font-size: 35px;
}

.portfolio .card {
    margin-top: 50px;
    margin-bottom: 20px;
    border: .1rem solid var(--main-color);
    background: transparent;
}

.portfolio .row h4{
    font-size: 2.2rem;
}

.portfolio .row:nth-child(2) p {
    font-size: 1.6rem;
    margin: 2rem 3rem;
}

/* Contact styling */
/* .contact {
    min-height: auto;
    padding-bottom: 7rem;
} */

.contact-heading {
    display: inline;
    font-size: 35px;
}

.social-profile {
    margin: .8rem 0 8rem;
}

.contact-details {
    font-size: 20px;
}

.contact-details  i {
    font-size: 30px;
    padding-right: 1rem;
    padding-top: 1rem;
    color: var(--main-color);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .form-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contact form .form-input .input-field {
    margin-bottom: 2rem;
}
.contact form .form-input .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .form-input .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #6c757d ;
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid  var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
    background: var(--second-bg-color);
}

.footer-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .2s;
}

.footer-icon a:hover::before {
    width: 100%;
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

/* Pages Under Construction */
.construction {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;

}
.construction img {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background: transparent;
    width: 40%;
}

/*---Media Queries ---*/
@media (max-width: 992px){
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}
@media (max-width: 768px){
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 1rem;
    }
    
}
@media (max-width: 576px){

}

/*---Firefox Bug Fix ---*/
/* .carousel-item{
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
} */

/* 
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 768px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 576px) { ... }

Large (lg) devices (desktop, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) devices (larde desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/