<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">  
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="/home/cybrex/blog/static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


</head>
<body>
    <!-- NAVIGATION BAR -->
  <nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container fluid">
        <a class="navbar-brand" href="index.html"><img src="" alt="Joana Lawer"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon">
              <a href="" onclick="openSideMenu()"></a>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="projects.html">Portfolio</a>
                </li>          
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    </nav> 
  
    <div class="container padding chatbot">
        <div class="col-lg-12">
            <h1>De Genesis</h1>
            <h5>"Start where you are; Use what you have; Do what you can!" ---???</h5>
            <div>
                <i class="far fa-heart" aria-hidden="true"></i>
                <i class="far fa-comment" aria-hidden="true"></i>
                <i class="far fa-share-square" aria-hidden="true"></i>
            </div>
            <div class="image-area">
                <img src="../static/images/genesis.jpg" alt="Chatbot">
                <p>Photo by <a href="https://unsplash.com/@markfb?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mark Fletcher-Brown</a> on <a href="https://unsplash.com/s/photos/creating?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
            </div>
            <article>
                In the beginning ...<br>
                This is not a creation story. Or wait, is it?<br>
                Actually it is. The beginning of something new. Creating something new. Something you can proudly claim as yours.
                To achieve our dreams we need to start from somewhere. There must be a beginning to that wonderful future you always 
                fantasize about. "A journey of thosand miles begins with a single step.(source here)" That step maybe your limit or a stepping 
                stone to greater heights. But the most important question is, are you ready and willing to take that step? Are you ready to hold 
                on to the thorns in order to admire the beauty of the rose flower. Are you enamored by its pleasing smell, then you need to hold 
                on tighter for longer. How far can you go? How long can you wait for your flower to bloom so you can show it to the world.
                <br>
                All creatures are unique in thier own special way. Whatever you are creating no matter how similar it may be to someone, you are the 
                author. You are the architect. Only you know what you are creating. No matter how much you want something, dreaming and writing it not 
                is not enough; laying down a plan is another step. But taking the action is the ultimate. Like NIKE; Just Do It. Nobody sees the wax of the 
                candle until it STARTS burning from the flame.
                <br>
                How then do you begin?<br>
                From the Biblical story of Moses, God asked him, "What do you have in your hand?" At that moment Moses was concentrating on his 
                flaws and shortcomings. He wasn't planning to be a leader, an advocate for freedom, or a role model. He may have been content 
                with his position as a sherpherd in a foreign land. He might be looking at his background and giving in to the   the I have felt this way so many 
                times and I guess you have also been in such 
                situation.<br>
                Starting something new is NOT easy. Day in day out people come out with brilliant ideas to do something new. These ideas may 
                come about through dreams, experiences, movies, friends and family, relaxing in a bath tub or having an apple fall on your head.
                So how do you get that fantastic idea to work? Where do you start? What do you need to start? You shouldn't think far or don't 
                think at all. Just do it.<br>
                You may have realised that I didn't attribute the quote in my heading to anyone. This because I found out it had been credited 
                to two people (Arthur Ashe and Theodore Roosevelt). This quote is one of my favourite and also helped me answer that one 
                question, where do I start?<br>
           </article>        
        </div>
    </div>

      
</body>
</html>