<!doctype html>
<html lang="en">
  <head>
    <title>Joana Lawer | Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link href="static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">     -->

</head>
  <body>
      <!-- NAVIGATION BAR -->
      <header class="header">
        <a href="index.html" class="logo_name">Joana.</a>

        <!-- Insert menu icon -->

        <nav class="menu_list">
          <a href="#home" class="active">Home</a>
          <a href="#about">About</a>
          <a href="#projects">Portfolio</a>
          <a href="#contact">Contact</a>
        </nav>
      </header>
      
      <!-- LANDING PAGE -->
      <section class="home" id="home">
        <div class="homepage">
          <div class="text-center" id="content">
              <a><img src="../static/images/lawer.png" class="img-fluid mx-auto d-block rounded-circle"></a>
              <a href="#" class="btn" id="btn">Profile</a>
          </div>
        <!-- PROFILE MODAL -->
        <div class="modal" id="profile-modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h1>Hi, I'm <span>Joana Lawer</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Laborum nobis perspiciatis non corrupti ipsam libero. 
              Ipsam impedit officia, architecto voluptates, odio mollitia accusantium, 
              quasi exercitationem eos ab aliquid corporis adipisci!</p>
            <div class="btn-box">
              <a href="#" class="btn">Let's Talk</a>
            </div>
            <div class="social-profile">
              <a href="#"><i class='bx bxl-github'></i></a>
              <a href="#"><i class='bx bxl-linkedin'></i></a>
              <a href="#"><i class='bx bxl-twitter'></i></a>
            </div>
  
          </div>
        </div>
        <!-- PROFILE MODAL END -->
      </section>
    
    <!-- PORTFOLIO SECTION -->
    <div class="container padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">Portfolio</h1>
        </div>
        <hr>
      </div>
    </div>

    <!-- CARDS FOR PROJECTS -->
    <div class="container padding">
      <div class="row padding">
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="../static/images/chatbot.jpg">
            <div class="card-body">
              <h4 class="card-title"><b>Text Classification</b></h4>
              <p>Classifying text as spam or ham</p>
              <br>
              <a class="btn btn-outline-secondary" href="project1.html">More ...</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="../static/images/chatbot.jpg">
            <div class="card-body">
              <h4 class="card-title"><b>Chatbot Assistant</b></h4>
              <p>Personal assistant and schedule reminder</p>
              <br>
              <a class="btn btn-outline-secondary" href="project2.html">More ...</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="../static/images/project3.jpg">
            <div class="card-body">
              <h4 class="card-title"><b>Online Banking</b></h4>
              <!-- Photo by <a href="https://unsplash.com/@dose?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dose Media</a> on <a href="https://unsplash.com/s/photos/address-book?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
              <p>Banking WebApp - Performing basic banking functionalities</p>
              <a class="btn btn-outline-secondary" href="pending.html">More ...</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <br>
          <a class="btn btn-outline-secondary" href="pending.html">View More Pojects</a>
        </div>
      </div>
    </div>

    <hr class="my-4">


    <!-- MOTIVATION -->
    <div class="container padding">
      <div class="row welcome text-center"> 
        <div class="col-12">
          <h1 class="display-4">Quotes</h1>
        </div>
        <hr>
      </div>
    </div>

    <!-- MY PERSONAL QUOTE -->
    <div class="container">
      <div class="row padding">
        <div class="col-lg-6">
          <img src="../static/images/home.jpg" class="img-fluid">
        </div>
      
        <div class="col-lg-6">
          <br>
          <p class="lead " id="quote-message"> " A journey of a thousand mile begins with a single step."
            <br> <a href="https://en.wikipedia.org/wiki/Laozi"> - Lao Tzu</a>
          </p>
        </div>
      </div>
    </div>


    <hr class="my-4">
    <!-- CONTACT SECTION -->
    <div class="container padding">
      <div class="row welcome text-center"> 
        <div class="col-12">
          <h1 class="display-4">Get In Touch</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead" id="contact-message">
            Thank you for reaching out. Leave a message below and I will do well to reply as soon as I can</p>
        </div>
      </div>
    </div>

    <!-- ADDRESS AND SOCIAL MEDIA -->
    <div class="container address">
      <div class="row padding">
        <div class="col-lg-6">
          <div class="contact-details">
            <li class="email"><i class="far fa-envelope"></i>lawerjoana477@gmail.com</li><br>
            <li class="website"><i class="fas fa-globe"></i> www.joana-lawer.com</li>
          </div>
          <ul class="social-link">
            <li class="twitter"><a href="https://twitter.com/joana_lawer"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/in/joanalawer/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="github"><a href="https://github.com/Joana477"><i class="fab fa-github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      
    <!-- CONTACT FORM  -->
        <div class="col-lg-6">
          <div class="form-group" id="auto-clear">
            <!-- <form action="https://formsubmit.co/jlawer90@gmail.com" method="POST"> -->
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
              </div>
              <div  class="form-group">
                  <textarea type="text" name="message" class="form-control" placeholder="Your Message" required></textarea>
              </div>
              <button type="submit" class="btn btn-lg btn-info justify-right"> Submit</button>
              <input type="hidden" name="_next" value="https://joana-lawer.com/new_index.html">
          </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- FOOTER -->
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-md-12">
            <h6>&copy; Copyright 2023. By Joana Lawer</h6>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
  </body>
</html>