<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">  
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="/home/cybrex/blog/static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


</head>
<body>
    <!-- NAVIGATION BAR -->
    <header class="header">
        <a href="index.html" class="logo_name" style="text-decoration: none; ">Joana.</a>

        <!-- menu icon -->
        <div class="bx bx-menu" id="menu-icon"></div>

        <nav class="menu_list">
          <a href="#home">Home</a>
          <a href="#about">Services</a>
          <a href="#projects">Portfolio</a>
          <a href="#contact">Contact</a>
        </nav>
    </header>
  
    <section>
        <div class="construction">
            <!-- <a href="https://storyset.com/web">Illustration by Freepik Storyset</a> -->
            <h1>Ooops! This Page Is Under Construction</h1>
            <img src="../static/images/website.png"><br>
            <div class="btn-box btns">
                <a href="index.html" class="btn" id="btn" style="width: 20rem;">Take Me Home</a>
              </div>
        </div>
    </section>      
</body>
</html>