<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">  
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="/home/cybrex/blog/static/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


</head>
<body>
    <!-- NAVIGATION BAR -->
  <nav class= "navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container fluid">
        <a class="navbar-brand" href="index.html"><img src="" alt="Joana Lawer"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon">
              <a href="" onclick="openSideMenu()"></a>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="projects.html">Portfolio</a>
                </li>          
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    </nav> 
  
    <div class="container padding chatbot">
        <div class="col-lg-12">
            <h1>Personal Chatbot Assistant Using Python</h1>
            <h5>This chatbot is designed to act as a personal assistant, schedule reminder and also keep company in times of boredom.</h5>
            <div class="review-icons">
                <i class="far fa-heart" aria-hidden="true"></i>
                <i class="far fa-comment" aria-hidden="true"></i>
                <i class="far fa-share-square" aria-hidden="true"></i>
            </div>
            <div class="image-area">
                <img src="../static/images/chatbot.jpg" alt="Chatbot">
                <p>Photo by <a href="https://unsplash.com/@agk42?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alex Knight</a> on <a href="https://unsplash.com/collections/19990344/finnley%27s-site-ideas?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
            </div>
            <h2>Introduction</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>
            
            <h2>Steps covered in this Project</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Download and Import Python Modules</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Preprocessing Data</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Creating train/test Data</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Building the Model</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Predicting Chatbot Response</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>

            <h2>Conclusion</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nulla beatae vero inventore, assumenda incidunt mollitia voluptatibus adipisci doloribus quod maxime dolores saepe iure nisi cum in ratione alias distinctio.</p>
        </div>
    </div>

      
</body>
</html>